* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  background: linear-gradient(#2ecc71, #f39c12);
}

.header {
  width: 100%;
  padding-top: 20vh;
  text-align: center;
}

.header h1 {
  color: #2c3e50;
  margin-bottom: 50px;
  font-size: 3rem;
}

.header form {
  width: 100%;
}

.header form input {
  border: none;
  height: 2rem;
}

.header form button {
  border: none;
  height: 2rem;
  width: 2.5rem;
  cursor: pointer;
}
