:root {
  --text-color: #dff9fb;
  --background-color: #130f40;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  text-align: center;
  color: var(--text-color);
}

.js-clock {
  position: absolute;
  padding: 5px;
  margin: 0px;
  color: var(--text-color);
}

.form {
  display: inline;
}

.Btn {
  cursor: pointer;
}

.todo {
  list-style-type: none;
  background-color: var(--background-color);
  color: var(--text-color);
  text-align: center;
}

.todo li {
  position: relative;
  border-top: 1px solid #30336b;
  margin: 0;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  cursor: pointer;
  padding: 10px;
}

.del {
  padding: 10px;
  cursor: pointer;
  position: absolute;
  right: 0;
}
